.treasure-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 75px;
    padding: 1rem;
    max-height: 25%;
}

.treasure{
    height: 225px;
    justify-content: center;
}

.api{
    height: 225px;
}

.api-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
    padding: 1rem;
    

}

.project_text{
    text-align: center;
    padding: 3rem
}

.api{
    display:flex;
    align-items:center;
    margin:50px;
}