.treasure-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
    padding:1rem;
}



.treasure{
    height: 225px;
    margin: 0 auto;
    width: 400px;
}

.api{
    height: 225px;
    margin: 0 auto;
    width: 400px;
}

.project-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-around;
    padding: 30px;
    text-align: center;
    max-width: 450px;
    
}

.project_text{
    text-align: center;
    padding: 3rem
}
